<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Imports-&amp;-Function-Definitions" data-toc-modified-id="Imports-&amp;-Function-Definitions-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Imports &amp; Function Definitions</a></span><ul class="toc-item"><li><span><a href="#Main-Analysis-Functions" data-toc-modified-id="Main-Analysis-Functions-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Main Analysis Functions</a></span></li></ul></li><li><span><a href="#Raw-Data" data-toc-modified-id="Raw-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Raw Data</a></span><ul class="toc-item"><li><span><a href="#Main-Data-Sources" data-toc-modified-id="Main-Data-Sources-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Main Data Sources</a></span></li><li><span><a href="#Alternative-Data-Sources" data-toc-modified-id="Alternative-Data-Sources-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Alternative Data Sources</a></span></li><li><span><a href="#Raw-Data-Manipulations" data-toc-modified-id="Raw-Data-Manipulations-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Raw Data Manipulations</a></span><ul class="toc-item"><li><span><a href="#Create-&quot;45-to-64&quot;-column-for-income" data-toc-modified-id="Create-&quot;45-to-64&quot;-column-for-income-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Create "45 to 64" column for income</a></span></li><li><span><a href="#Clean-Re-Formatted-SDMX-tables" data-toc-modified-id="Clean-Re-Formatted-SDMX-tables-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Clean Re-Formatted SDMX tables</a></span><ul class="toc-item"><li><span><a href="#2001-Census" data-toc-modified-id="2001-Census-2.3.2.1"><span class="toc-item-num">2.3.2.1&nbsp;&nbsp;</span>2001 Census</a></span></li><li><span><a href="#2006-Census" data-toc-modified-id="2006-Census-2.3.2.2"><span class="toc-item-num">2.3.2.2&nbsp;&nbsp;</span>2006 Census</a></span></li><li><span><a href="#2011-Census" data-toc-modified-id="2011-Census-2.3.2.3"><span class="toc-item-num">2.3.2.3&nbsp;&nbsp;</span>2011 Census</a></span></li><li><span><a href="#2016-Census" data-toc-modified-id="2016-Census-2.3.2.4"><span class="toc-item-num">2.3.2.4&nbsp;&nbsp;</span>2016 Census</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Define-Variables" data-toc-modified-id="Define-Variables-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Define Variables</a></span><ul class="toc-item"><li><span><a href="#Join-City-&amp;-Health-Shapefiles" data-toc-modified-id="Join-City-&amp;-Health-Shapefiles-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Join City &amp; Health Shapefiles</a></span></li></ul></li><li><span><a href="#Run-Calculations" data-toc-modified-id="Run-Calculations-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Run Calculations</a></span><ul class="toc-item"><li><span><a href="#Prepare-Data-for-Analysis" data-toc-modified-id="Prepare-Data-for-Analysis-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Prepare Data for Analysis</a></span></li><li><span><a href="#Merge-Other-Datasets-(Food-Insec./Unemp./Education)" data-toc-modified-id="Merge-Other-Datasets-(Food-Insec./Unemp./Education)-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Merge Other Datasets (Food Insec./Unemp./Education)</a></span><ul class="toc-item"><li><span><a href="#Merge-with-Food-Insecurity" data-toc-modified-id="Merge-with-Food-Insecurity-4.2.1"><span class="toc-item-num">4.2.1&nbsp;&nbsp;</span>Merge with Food Insecurity</a></span></li><li><span><a href="#Merge-with-Unemployment" data-toc-modified-id="Merge-with-Unemployment-4.2.2"><span class="toc-item-num">4.2.2&nbsp;&nbsp;</span>Merge with Unemployment</a></span></li><li><span><a href="#Merge-with-Education" data-toc-modified-id="Merge-with-Education-4.2.3"><span class="toc-item-num">4.2.3&nbsp;&nbsp;</span>Merge with Education</a></span></li></ul></li></ul></li></ul></div>

# Imports & Function Definitions

In [1]:
import time, datetime, sys, os, numpy as np, pandas as pd, geopandas as gpd
import sqlalchemy
from difflib import SequenceMatcher
import seaborn as sns
import statsmodels.api as sm 
from scipy.stats import rv_discrete
import sqlite3 as db
from itertools import permutations, product, chain
from functools import reduce
import re
import matplotlib.pyplot as plt
import plotly.plotly as py
from copy import copy

from pyspark.sql import SparkSession


scriptDir = os.path.dirname(os.path.realpath(sys.argv[0]))   # get script directory

if sys.platform == 'linux':
    genDir ="/home/benmo/OneDrive/GitHub/DataPlayground"
else:
    try: 
        genDir = "D:/OneDrive/GitHub/DataPlayground" #get general functions path
        os.chdir(genDir)
    except: 
        genDir = "D:/benmo/OneDrive/GitHub/DataPlayground"
        os.chdir(genDir)

os.chdir(genDir)

from General import * # import custom 'general' functions

os.chdir(scriptDir)

/home/benmo/intelpython3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

RuntimeError: module compiled against API version 0xb but this version of numpy is 0xa

In [2]:
%load_ext rpy2.ipython
%load_ext beakerx_magics.sql_magic
%load_ext beakerx_magics.groovy_magic
%load_ext beakerx_magics.scala_magic
%load_ext beakerx_magics.java_magic

load R libraries:

In [3]:
%%R 
lapply(list('ggplot2','SciencesPo', 'binsmooth'), require, character.only = TRUE)

/home/benmo/intelpython3/lib/python3.6/site-packages/rpy2/rinterface/__init__.py:145: RRuntimeWarning:

Loading required package: ggplot2


/home/benmo/intelpython3/lib/python3.6/site-packages/rpy2/rinterface/__init__.py:145: RRuntimeWarning:

Loading required package: SciencesPo


/home/benmo/intelpython3/lib/python3.6/site-packages/rpy2/rinterface/__init__.py:145: RRuntimeWarning:

SciencesPo 1.4.1


/home/benmo/intelpython3/lib/python3.6/site-packages/rpy2/rinterface/__init__.py:145: RRuntimeWarning:

Loading required package: binsmooth

[[1]]
[1] TRUE

[[2]]
[1] TRUE

[[3]]
[1] TRUE

## Main Analysis Functions

In [2]:
similar = lambda a, b: SequenceMatcher(None, a, b).ratio()


def floatit(x, repl):    
    try:
        x = float(x)
    except:
        x = repl
    return x

get_prob = lambda x: list(map(lambda z, z_s=x: z/sum(z_s)*100,x))

idx = pd.IndexSlice


spark = SparkSession.builder.appName(
        'myspark').master("local[4]").config(
                "spark.ui.enabled","false").config(
                        "spark.driver.extraClassPath",
                        "/home/benmo/DB_drivers/sqlite-jdbc-3.16.1.jar").config(
                                "spark.executor.extraClassPath", 
                                "/home/benmo/DB_drivers/sqlite-jdbc-3.16.1.jar").getOrCreate()



def get_incDist(vals):
    %R -n bins <- c(10000, 20000, 35000, 50000, 75000, 100000, NaN)
    vals = pd.Series(vals)
    %R -i vals
    %R -n hist <- splinebins(bins, vals)
    bins = %R seqi <- seq(0,299000,length=10000)
    cdf = %R cdf <- hist$splineCDF(seqi)
    prob = np.diff(cdf)
    bins = bins[1:]
    return rv_discrete(values=(bins, prob/sum(prob)))


def get_gini(data):
    try:
        data = pd.Series(data)
        %R -i data gini <- Gini(data)
        gini = %R gini
        return gini[0]
    except:
        return None

def get_atkinson(data, eps=0.5):
    try:
        data = pd.Series(data)
        %R -i eps
        %R -i data atk <- Atkinson(data, epsilon=eps);
        atk = %R atk 
        return atk[0]
    except:
        return None

def get_palma(rv,data):
    try:
        ll = rv.ppf(0.4)
        ul = rv.ppf(0.9)
        
        return data[data > ul].sum() / data[data < ll].sum()
    except:
        return None

def closestIndex(x,c):
    temp = list(map(lambda x: similar(x,c), x))
    return temp.index(max(temp))


uniq = lambda x, y: x[y].unique()


tuple2str = lambda name: name if isinstance(name, tuple) ==False else reduce(lambda x, y:  str(x)
        .replace('.0','') + '_' + str(y).replace('.0',''), list(map(lambda xi: str(xi), name)))



def get_Healthx(hRegions, spark, i, j):
    health = spark.read.format("jdbc").option("url", 
                               "jdbc:sqlite:/home/benmo/Data/Databases/health.db").option(
                                       "dbtable", 'CCHS_Survey').load()
    
    healthx = health.select('*').where(((health.AGE == healthVars['age'][i]) & (health.HRPROF == healthVars['hrprof'][j])) & (
                    health.UNIT == healthVars['unit'][1])).toPandas()
                    
    healthx.Geographicalclassification = healthx.Geographicalclassification.apply(
            lambda x: x[:4])
                              
    return healthx



def get_incDistx(provinces, spark, i, j):
    incDist = spark.read.format("jdbc").option("url", 
                               "jdbc:sqlite:/home/benmo/Data/Databases/income.db").option(
                                       "dbtable", "incomeDist").load()

    incDistx = incDist.select(list(filter(lambda x: x not in['Vector', 'Coordinate'],
                                          incDist.columns))).where(incDist.AGE == incDistVars['age'][i]).toPandas() 
    incDistx = incDistx[incDistx.GEO.apply(lambda x: x not in provinces + ['Canada']) == True]
    incDistx.GEO = incDistx.GEO.apply(lambda x: x[:12] if x.find(',') >=12 else x[:x.find(',')])    #truncate city names for matching
    
    return incDistx

# Raw Data

## Main Data Sources

__Income Data Source:__ http://www5.statcan.gc.ca/cansim/a26?lang=eng&retrLang=eng&id=1110008&&pattern=&stByVal=1&p1=1&p2=37&tabMode=dataTable&csid=

__Location:__ /home/benmo/Data/Databases/income.db

__CCHS Data Sources:__ http://www5.statcan.gc.ca/cansim/a26?lang=eng&retrLang=eng&id=1050547&&pattern=&stByVal=1&p1=1&p2=-1&tabMode=dataTable&csid
                        
http://www5.statcan.gc.ca/cansim/a26?lang=eng&retrLang=eng&id=1050547&&pattern=&stByVal=1&p1=1&p2=-1&tabMode=dataTable&csid=

http://www5.statcan.gc.ca/cansim/a26?lang=eng&retrLang=eng&id=1090200&&pattern=&stByVal=1&p1=1&p2=-1&tabMode=dataTable&csid=

http://www5.statcan.gc.ca/cansim/a26?lang=eng&retrLang=eng&id=1090300&&pattern=&stByVal=1&p1=1&p2=-1&tabMode=dataTable&csid=

http://www5.statcan.gc.ca/cansim/a26?lang=eng&retrLang=eng&id=1090401&&pattern=&stByVal=1&p1=1&p2=-1&tabMode=dataTable&csid=

http://www5.statcan.gc.ca/cansim/a26?lang=eng&retrLang=eng&id=1095304&tabMode=dataTable&p1=1&p2=-1&srchLan=-1&pattern=unemployment+health

http://www5.statcan.gc.ca/cansim/a26?lang=eng&retrLang=eng&id=1095334&tabMode=dataTable&p1=1&p2=-1&srchLan=-1&pattern=unemployment+health


__Location:__ /home/benmo/Data/Databases/health.db

## Alternative Data Sources

* These data sources were used for gathering education and labor force information for Canadian cities in major census years

* After converting SDMX data files 97-560-XCB2006025, 99-012-X2011042, 97F0017XCB2001040, and 98-400-X2016276 from SDMX (xml) to .csv format,
    the structure files were uploaded to a MongoDB database for querying as shown below:

In [5]:
from pymongo import MongoClient
import pandas as pd

client = MongoClient()

mdb = client['Data']                   # Connect to appropriate database in MongoDB


"""____________ CREATE KEYS TO QUERY ON THE DATA COLUMNS______________"""
varList2001 = {'geo': 'CL_GEO', 
           'sex': 'CL_SEX', 
           'age': 'CL_AGE',
           'schatt': 'CL_ATTENDR',
           'educ': 'CL_HLOSR',
           'labor': 'CL_LFTAG'}

varList2006 = {'geo': 'CL_GEO', 
           'immyr': 'CL_YRIM', 
           'educ': 'CL_HCDD',
           'age': 'CL_AGE',
           'sex': 'CL_SEX',
           'studyloc': 'CL_LOC_STUDY',
           'labor': 'CL_DIM'}

varList2011 = {'geo': 'CL_GEO', 
           'immyr': 'CL_PERIMMB', 
           'studyloc': 'CL_LOC_STUDY',
           'age': 'CL_AGEGR5',
           'sex': 'CL_SEX',
           'educ': 'CL_HCDD',
           'labor': 'CL_DIM'}

varList2016 = {'geo' : 'CL_GEO', 
           'stem' : 'CL_CIP2011_STEM', 
           'educ' : 'CL_HCDD_14V', 
           'immSt' : 'CL_IMMDER',
           'age' : 'CL_AGEGR5',
           'sex' : 'CL_SEX',
           'minority' : 'CL_DVISMIN',
           'labor' : 'CL_DIM'}

varDict = {2001 : varList2001, 2006 : varList2006,
           2011 : varList2011, 2016 : varList2016} # Pack key lists to a dictionary object


dataKeysDict = {}
colsDict = {}

"""______________RUN MONGODB QUERIES AND EXTRACT NAMES FOR CODED VARIABLES___________"""
for yr in varDict.keys():
    dataKeysDict[yr] = {}
    colsDict[yr] = []
    docs = mdb['canadael{y}'.format(y=yr)]
    
    for key in varDict[yr].keys():
        pipeline = [
            {"$unwind": "$items"},
            {"$unwind": "$items.items"},
            {"$unwind": "$items.items.items"},
            {"$match": {"items.attrs.id": varDict[yr][key]}},
            {"$match": {"items.items.items.attrs.xml:lang": "en"}},
            {"$group": {"_id": {key: "$items.items.items.items",
            key + "id": "$items.items.attrs"}}}
            ]
        if key == 'geo':
            pipeline.pop(4) 
        
        temp = list(docs.aggregate(pipeline)) # collect values for coded varaibles w/ other unwanted queries
        
        temp = list(filter(lambda x: len(x['_id'])==2, temp))      # filter out unwanted data
        temp = list(filter(lambda x: len(x['_id'][key])==1, temp)) # filter out unwanted data
        temp = pd.DataFrame(list(map(lambda x: x['_id'],temp)))    # store as dataframe       
        temp[key] = temp[key].apply(lambda x: x[0])      
        temp[key + 'id'] = temp[key + 'id'].apply(lambda x: x['value'])
      
        dataKeysDict[yr][key] = temp         # dictionary object that holds all the coded information
        colsDict[yr].append(key)             # dictionary that holds the column names and preserves positioning

## Raw Data Manipulations

As shown below, the income data does not contain a "45 to 64" age range:

In [46]:
"""_______________________HEALTH DATA_____________________________"""
health = spark.read.format("jdbc").option("url", 
                               "jdbc:sqlite:/home/benmo/Data/Databases/health.db").option(
                                       "dbtable", 'CCHS_Survey').load()
health.select('age').distinct().show()

+--------------------+
|                 age|
+--------------------+
|      45 to 64 years|
|Total, 12 years a...|
|Total, 12 year an...|
|      20 to 34 years|
|   65 years and over|
|Total, 12 years a...|
|      12 to 19 years|
|      35 to 44 years|
+--------------------+

In [49]:
"""______________________INCOME DATA_______________________________"""
incDist = spark.read.format("jdbc").option("url", 
            "jdbc:sqlite:/home/benmo/Data/Databases/income.db").option(
                            "dbtable", "incomeDist").load()
incDist.select('age').distinct().show()

+-----------------+
|              age|
+-----------------+
|   65 to 74 years|
|   55 to 64 years|
|75 years and over|
|    0 to 24 years|
|   25 to 34 years|
|65 years and over|
|   All age groups|
|   45 to 54 years|
|   35 to 44 years|
+-----------------+

### Create "45 to 64" column for income

In [51]:
incDist = spark.read.format("jdbc").option("url", 
                               "jdbc:sqlite:/home/benmo/Data/Databases/income.db").option(
                                       "dbtable", "incomeDist").load() 

incDistx = incDist.select('*').where(incDist.AGE.isin({'45 to 54 years', '55 to 64 years'})).toPandas()  # Select ages to combine 

incDistx.Value = incDistx.Value.astype(str).apply(lambda x: re.sub('[^0-9]','', x)).apply(pd.to_numeric) # Value column -> convertable string


"""_______________________Retain old identifiers to merge later__________________________"""
newVecCoord = incDistx[incDistx.AGE == '45 to 54 years'].drop(columns=['AGE','Value'])                   
newVecCoord[['Vector','Coordinate']] = newVecCoord[['Vector','Coordinate']].apply(lambda x: 'new-' + x)


"""_______________________Create Agrregated Age Column___________________________________"""
incDistx.drop(columns=['Vector','Coordinate'],inplace=True)
temp = pd.pivot_table(incDistx, values='Value', index=incDistx.columns[incDistx.columns.isin(['AGE','Value'])==False].tolist(),
                      columns=['AGE'],aggfunc=np.mean)
temp['Value'] = temp.sum(axis=1)
temp.drop(columns=['45 to 54 years','55 to 64 years'], inplace=True)
temp['AGE'] = '45 to 64 years'
temp.reset_index(inplace=True)
temp.index.name = 'Index'



mergecols = ['Ref_Date', 'GEO','Geographical classification', 'SEX','INC'] # columns to merge old identifiers with new Age column


temp=temp.merge(newVecCoord,on=mergecols,how='left')                       # merge
temp.Value = temp.Value.astype(str)
temp

,Ref_Date,GEO,Geographical classification,SEX,INC,Value,AGE,Vector,Coordinate
0,2000,Alberta,,Both sexes,"Persons with income of $10,000 and over",5004100.0,45 to 64 years,new-v20802224,new-32.1.5.4
1,2000,Alberta,,Both sexes,"Persons with income of $100,000 and over",345700.0,45 to 64 years,new-v20802231,new-32.1.5.11
2,2000,Alberta,,Both sexes,"Persons with income of $15,000 and over",4407000.0,45 to 64 years,new-v20802225,new-32.1.5.5
3,2000,Alberta,,Both sexes,"Persons with income of $150,000 and over",142100.0,45 to 64 years,new-v20802232,new-32.1.5.12
4,2000,Alberta,,Both sexes,"Persons with income of $20,000 and over",3942200.0,45 to 64 years,new-v20802226,new-32.1.5.6
5,2000,Alberta,,Both sexes,"Persons with income of $200,000 and over",83900.0,45 to 64 years,new-v20802233,new-32.1.5.13
6,2000,Alberta,,Both sexes,"Persons with income of $25,000 and over",3499000.0,45 to 64 years,new-v20802227,new-32.1.5.7
7,2000,Alberta,,Both sexes,"Persons with income of $250,000 and over",58100.0,45 to 64 years,new-v20802234,new-32.1.5.14
8,2000,Alberta,,Both sexes,"Persons with income of $35,000 and over",2610900.0,45 to 64 years,new-v20802228,new-32.1.5.8
9,2000,Alberta,,Both sexes,"Persons with income of $5,000 and over",5539000.0,45 to 64 years,new-v20802223,new-32.1.5.3
10,2000,Alberta,,Both sexes,"Persons with income of $50,000 and over",1647600.0,45 to 64 years,new-v20802229,new-32.1.5.9
11,2000,Alberta,,Both sexes,"Persons with income of $75,000 and over",701400.0,45 to 64 years,new-v20802230,new-32.1.5.10
12,2000,Alberta,,Both sexes,"Persons with income under $5,000",568800.0,45 to 64 years,new-v20802222,new-32.1.5.2
13,2000,Alberta,,Both sexes,Total persons with income,6107800.0,45 to 64 years,new-v20802221,new-32.1.5.1
14,2000,Alberta,,Females,"Persons with income of $10,000 and over",2253200.0,45 to 64 years,new-v20802480,new-32.3.5.4
15,2000,Alberta,,Females,"Persons with income of $100,000 and over",45600.0,45 to 64 years,new-v20802487,new-32.3.5.11
16,2000,Alberta,,Females,"Persons with income of $15,000 and over",1881400.0,45 to 64 years,new-v20802481,new-32.3.5.5
17,2000,Alberta,,Females,"Persons with income of $150,000 and over",16500.0,45 to 64 years,new-v20802488,new-32.3.5.12
18,2000,Alberta,,Females,"Persons with income of $20,000 and over",1588300.0,45 to 64 years,new-v20802482,new-32.3.5.6
19,2000,Alberta,,Females,"Persons with income of $200,000 and over",8900.0,45 to 64 years,new-v20802489,new-32.3.5.13
20,2000,Alberta,,Females,"Persons with income of $25,000 and over",1320100.0,45 to 64 years,new-v20802483,new-32.3.5.7
21,2000,Alberta,,Females,"Persons with income of $250,000 and over",5900.0,45 to 64 years,new-v20802490,new-32.3.5.14
22,2000,Alberta,,Females,"Persons with income of $35,000 and over",831000.0,45 to 64 years,new-v20802484,new-32.3.5.8
23,2000,Alberta,,Females,"Persons with income of $5,000 and over",2593700.0,45 to 64 years,new-v20802479,new-32.3.5.3
24,2000,Alberta,,Females,"Persons with income of $50,000 and over",426200.0,45 to 64 years,new-v20802485,new-32.3.5.9
25,2000,Alberta,,Females,"Persons with income of $75,000 and over",116700.0,45 to 64 years,new-v20802486,new-32.3.5.10
26,2000,Alberta,,Females,"Persons with income under $5,000",405500.0,45 to 64 years,new-v20802478,new-32.3.5.2
27,2000,Alberta,,Females,Total persons with income,2999100.0,45 to 64 years,new-v20802477,new-32.3.5.1
28,2000,Alberta,,Males,"Persons with income of $10,000 and over",2751000.0,45 to 64 years,new-v20802352,new-32.2.5.4
29,2000,Alberta,,Males,"Persons with income of $100,000 and over",300100.0,45 to 64 years,new-v20802359,new-32.2.5.11
...,...,...,...,...,...,...,...,...,...
74934,2015,Yukon,,Both sexes,"Persons with income under $5,000",3800.0,45 to 64 years,new-v20804526,new-38.1.5.2
74935,2015,Yukon,,Both sexes,Total persons with income,98600.0,45 to 64 years,new-v20804525,new-38.1.5.1
74936,2015,Yukon,,Females,"Persons with income of $10,000 and over",45800.0,45 to 64 years,new-v20804784,new-38.3.5.4
74937,2015,Yukon,,Females,"Persons with income of $100,000 and over",6600.0,45 to 64 years,new-v20804791,new-38.3.5.11
74938,2015,Yukon,,Females,"Persons with income of $15,000 and over",44000.0,45 to 64 years,new-v20804785,new-38.3.5.5
74939,2015,Yukon,,Females,"Persons with income of $150,000 and over",1500.0,45 to 64 years,new-v20804792,new-38.3.5.12
74940,2015,Yukon,,Females,"Persons with income of $20,000 and over",41600.0,45 to 64 years,new-v20804786,new-38.3.5.6
74941,2015,Yukon,,Females,"Persons with income of $200,000 and over",500.0,45 to 64 years,new-v20804793,new-38.3.5.13
74942,2015,Yukon,,Females,"Persons with income of $25,000 and over",39100.0,45 to 64 years,new-v20804787,new-38.3.5.7
74943,2015,Yukon,,Females,"Persons with income of $250,000 and over",400.0,45 to 64 years,new-v20804794,new-38.3.5.14
74944,2015,Yukon,,Females,"Persons with income of $35,000 and over",34400.0,45 to 64 years,new-v20804788,new-38.3.5.8
74945,2015,Yukon,,Females,"Persons with income of $5,000 and over",47700.0,45 to 64 years,new-v20804783,new-38.3.5.3
74946,2015,Yukon,,Females,"Persons with income of $50,000 and over",27500.0,45 to 64 years,new-v20804789,new-38.3.5.9
74947,2015,Yukon,,Females,"Persons with income of $75,000 and over",14700.0,45 to 64 years,new-v20804790,new-38.3.5.10
74948,2015,Yukon,,Females,"Persons with income under $5,000",2000.0,45 to 64 years,new-v20804782,new-38.3.5.2
74949,2015,Yukon,,Females,Total persons with income,49600.0,45 to 64 years,new-v20804781,new-38.3.5.1
74950,2015,Yukon,,Males,"Persons with income of $10,000 and over",45500.0,45 to 64 years,new-v20804656,new-38.2.5.4
74951,2015,Yukon,,Males,"Persons with income of $100,000 and over",10200.0,45 to 64 years,new-v20804663,new-38.2.5.11
74952,2015,Yukon,,Males,"Persons with income of $15,000 and over",43300.0,45 to 64 years,new-v20804657,new-38.2.5.5
74953,2015,Yukon,,Males,"Persons with income of $150,000 and over",2800.0,45 to 64 years,new-v20804664,new-38.2.5.12
74954,2015,Yukon,,Males,"Persons with income of $20,000 and over",40700.0,45 to 64 years,new-v20804658,new-38.2.5.6
74955,2015,Yukon,,Males,"Persons with income of $200,000 and over",900.0,45 to 64 years,new-v20804665,new-38.2.5.13
74956,2015,Yukon,,Males,"Persons with income of $25,000 and over",38400.0,45 to 64 years,new-v20804659,new-38.2.5.7
74957,2015,Yukon,,Males,"Persons with income of $250,000 and over",500.0,45 to 64 years,new-v20804666,new-38.2.5.14
74958,2015,Yukon,,Males,"Persons with income of $35,000 and over",34900.0,45 to 64 years,new-v20804660,new-38.2.5.8
74959,2015,Yukon,,Males,"Persons with income of $5,000 and over",47300.0,45 to 64 years,new-v20804655,new-38.2.5.3
74960,2015,Yukon,,Males,"Persons with income of $50,000 and over",29100.0,45 to 64 years,new-v20804661,new-38.2.5.9
74961,2015,Yukon,,Males,"Persons with income of $75,000 and over",19300.0,45 to 64 years,new-v20804662,new-38.2.5.10
74962,2015,Yukon,,Males,"Persons with income under $5,000",1800.0,45 to 64 years,new-v20804654,new-38.2.5.2
74963,2015,Yukon,,Males,Total persons with income,49100.0,45 to 64 years,new-v20804653,new-38.2.5.1

In [45]:
"""_________________________Update Database________________________"""

conn = db.connect("/home/benmo/Data/Databases/income.db")


temp.to_sql('incomeDist', con=conn, if_exists='append', index=False)

/home/benmo/intelpython3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

### Clean Re-Formatted SDMX tables

#### 2001 Census

In [24]:
tempdf = spark.read.format("csv").option("header", "true").load(
    "/home/benmo/Apps/SDMX_Converter_Platform-Independent_v.3.1.7_2014.06.30/Converter_Data/Output Files/census2001.csv")


census2001 = tempdf.select(['01', '11','12','13','14','15','23901360']).where(tempdf['13'] == 1).toPandas()
census2001 = census2001.drop(columns='13').rename(columns={'01' : 'geo', '11' : 'sex', '12' : 'age', '14' : 'educ', '15' : 'labor', '23901360' : 'Value'})

#### 2006 Census

In [25]:
tempdf = spark.read.format("csv").option("header", "true").load(
    "/home/benmo/Apps/SDMX_Converter_Platform-Independent_v.3.1.7_2014.06.30/Converter_Data/Output Files/census2006.csv")


census2006 = tempdf.select(['01', '11','12','13','14','15','16','25664220']).where((tempdf['11'] == 1) & (tempdf['15'] == 1)).toPandas()
census2006 = census2006.drop(columns=['11', '15']).rename(columns={'01' : 'geo', '12' : 'educ', '13' : 'age', '14' : 'sex', '16' : 'labor', '25664220' : 'Value'})

#### 2011 Census

In [26]:
tempdf = spark.read.format("csv").option("header", "true").load(
    "/home/benmo/Apps/SDMX_Converter_Platform-Independent_v.3.1.7_2014.06.30/Converter_Data/Output Files/census2011.csv")


census2011 = tempdf.select(['01', '11','12','13','14','15','16','27259525']).where((tempdf['11'] == 1) & (tempdf['12'] == 1)).toPandas()
census2011 = census2011.drop(columns=['11', '12']).rename(columns={'01' : 'geo', '13' : 'age', '14' : 'sex', '15' : 'educ', '16' : 'labor', '27259525' : 'Value'})

#### 2016 Census

In [27]:
tempdf = spark.read.format("csv").option("header", "true").load(
    "/home/benmo/Apps/SDMX_Converter_Platform-Independent_v.3.1.7_2014.06.30/Converter_Data/Output Files/census2016.csv")


census2016 = tempdf.select(['01', '11','12','13','14','15','16','17','28643015']).where(((tempdf['11'] == 1) & (tempdf['13'] == 1)) & (tempdf['16'] == 1)).toPandas()
census2016 = census2016.drop(columns=['11','13', '16']).rename(columns={'01' : 'geo', '12' : 'educ', '14' : 'age', '15' : 'sex', '17' : 'labor', '28643015' : 'Value'})

In [32]:
"""_________________COMBINE CENSUS DATA & RECODE VALUES_________________"""

def recode(df, dataKeys):
    df.geo = df.geo.apply(lambda x: dataKeys['geo'][dataKeys['geo'].geoid == x]['geo'].tolist()[0])
    df.educ = df.educ.apply(lambda x: dataKeys['educ'][dataKeys['educ'].educid == x]['educ'].tolist()[0])
    df.labor = df.labor.apply(lambda x: dataKeys['labor'][dataKeys['labor'].laborid == x]['labor'].tolist()[0])
    df.age = df.age.apply(lambda x: dataKeys['age'][dataKeys['age'].ageid == x]['age'].tolist()[0])
    df.sex = df.sex.apply(lambda x: dataKeys['sex'][dataKeys['sex'].sexid == x]['sex'].tolist()[0])
    return df



census2001 = recode(census2001, dataKeysDict[2001])
census2006 = recode(census2006, dataKeysDict[2006])
census2011 = recode(census2011, dataKeysDict[2011])
census2016 = recode(census2016, dataKeysDict[2016])

census2001['year'] = 2001
census2006['year'] = 2006
census2011['year'] = 2011
census2016['year'] = 2016

conn = db.connect("/home/benmo/Data/Databases/health.db")
census2001.to_sql('educ_cities', con=conn, if_exists='append', index=False)   #send data to database
census2006.to_sql('educ_cities', con=conn, if_exists='append', index=False)   #send data to database
census2011.to_sql('educ_cities', con=conn, if_exists='append', index=False)   #send data to database
census2016.to_sql('educ_cities', con=conn, if_exists='append', index=False)   #send data to database

# Define Variables

In [3]:
uri="postgresql://postgres:justbusted@localhost:5433/geodata"
engine = sqlalchemy.create_engine(uri)


stata = 0    # dont write to stata files in section 4.1
shape = 1    # write the shapefiles in section 4.1

healthShp = gpd.read_file("/home/benmo/Data/GeoData/canHealth.shp")               # get shapefile for health regions
canadaShp = gpd.read_postgis("select * from can_adm3", uri, 
                        geom_col='geom', crs={'init': 'epsg:4326'})               # get shapefile for Canada (incl. city names)


    
healthVars, incDistVars = {}, {}

healthVars['hrprof'] = ['Current smoker, daily or occasional', 
'Arthritis', 'Current smoker, daily',  
'5 or more drinks on one occasion, at least once a month in the past year', 'Heavy drinking', 
'Fruit and vegetable consumption, 5 times or more per day', 
'Physical activity during leisure-time, moderately active or active', 
'Physical activity during leisure-time, inactive', 
'Body mass index, self-reported, adult (18 years and over), overweight or obese',  
'Body mass index, self-reported, adult (18 years and over), obese', 
'Sense of belonging to local community, somewhat strong or very strong', 
'Has a regular medical doctor', 
'Contact with a medical doctor in the past 12 months',  
'Mood disorder', 'Wears a helmet when riding a bicycle, always', 
'Functional health, good to full', 
'Injuries in the past 12 months causing limitation of normal activities', 'Injuries in the past 12 months, sought medical attention', 
'Chronic obstructive pulmonary disease (COPD)', 
'Perceived health, very good or excellent', 
'Perceived health, fair or poor', 
'Perceived mental health, very good or excellent', 
'Perceived mental health, fair or poor', 
'Life satisfaction, satisfied or very satisfied', 
'Perceived life stress, quite a lot (15 years and over)', 
'Diabetes', 'Asthma', 'High blood pressure', 
'Pain or discomfort by severity, moderate or severe', 
'Pain or discomfort that prevents activities', 
'Participation and activity limitation, sometimes or often']


healthVars['unit'] = ['Number of persons', 'Percent']

healthVars['age'] = ['20 to 34 years', '35 to 44 years',
        '45 to 64 years', 'Total, 12 years and over']

incDistVars['age'] = ['25 to 34 years', '35 to 44 years', 
        '45 to 64 years', 'All age groups']

## Join City & Health Shapefiles

In [4]:
canadaShp['geo_idx'] = canadaShp.index.tolist()         #create column containing unique city index


cities_inH = gpd.sjoin(canadaShp, healthShp, 
                       how='left', op= 'within')        #spatially join city & health region shapefiles

#note: this operation only joins cities w/ boundaries completely within health regions

cities_inH = cities_inH[cities_inH['HR_UID'].isna() == False] #drop cities not within h-regions


missingcities = gpd.sjoin(canadaShp, healthShp, 
                          how='left', op= 'within')           #collect cities missed by spatial join

missingcities = missingcities[missingcities['HR_UID'].isna() == True][
        missingcities['engtype_3'] == 'City']                 #select only cities (pop > ~10,000)

missingcities.geom = missingcities.geom.apply(lambda x: x.centroid) #get centroid of cities

missingcities = gpd.sjoin(missingcities[list(filter(lambda x: 
                                                    x not in ['index_left','index_right'],
                                                    missingcities.columns.tolist()))],
                                        healthShp, how='left', op='within') #add the missing cities 

#note: missing cities added to shapefile by joining city centroid to the appropriate h-region

cities = cities_inH.append(missingcities)       #collect all the cities (missing/non-missing) to one shapefile


"""_____________Merge the Health Shapefile with the edited Canada-City shapefile___________"""

healthCanShp = gpd.sjoin(healthShp, cities[['geom', 'geo_idx', 'name_1', 
                                               'name_3', 'engtype_3'] ], how='left', op='contains')

/home/benmo/intelpython3/lib/python3.6/site-packages/geopandas/geodataframe.py:398: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

/home/benmo/intelpython3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning:

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

In [5]:

healthCanShp.name_3[healthCanShp.geo_idx == 3367] = 'MontrÃ©al' # Montreal suburb (location same as Montreal)
healthCanShp.geo_idx[healthCanShp.geo_idx == 3367] = 3368      # Actual Montreal id

  
provinces = canadaShp['name_1'].unique().tolist()
hRegions = healthShp.HR_UID.unique().tolist()

/home/benmo/intelpython3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/benmo/intelpython3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# Run Calculations

## Prepare Data for Analysis

In [ ]:
  
for i, (varH, varI) in enumerate(zip(healthVars['age'], incDistVars['age'])):

    for j, hType in enumerate(healthVars['hrprof']):  #start ay number 5!!!!!!!

        """_____________HEALTH DATA_______________"""

        healthx = get_Healthx(hRegions,spark, i, j) # get CCHS data for specific health variable (j) & age (i)

        healthData = healthShp.merge(healthx.drop(columns=['Vector','Coordinate']), how ='left', left_on='HR_UID', 
                                                             right_on='Geographicalclassification') #merge w/ geographical data
        healthData.rename(columns={'Ref_Date' : 'ref_date', 'GEO' : 'geo', 'AGE' : 'age', 'SEX' : 'sex',
                                  'HRPROF' : 'hrprof', 'Geographicalclassification' : 'geographicalclassification',
                                  'Value' : 'value'}, inplace=True)
        healthData.value = pd.to_numeric(healthData.value,errors='coerce')
    
        
        #===================> only need to calculate income distributions for each age range (ie. j = 0) ===========>
        if j==0:

            """_____________INCOME DATA_______________"""

            incDistx = get_incDistx(provinces,spark, i,j) # get age/sex specific income distribution data
            cities = incDistx.GEO.unique()                # get list of cities incl. in income data
            
            cities = pd.DataFrame(data=np.array([cities, list(map(lambda x: closestIndex(canadaShp['name_3'], x), cities))]).T,
                        columns=['geo','geo_id'])         # get geo_id of cities in income data

            
            incDistx.rename(columns={'GEO' : 'geo'}, inplace=True)
            incDistx = incDistx.merge(cities, how='left', on='geo') # data now includes geo_id for merging



            """_____________FORMAT DATA_______________"""

            temp = incDistx.rename(columns={'Ref_Date' : 'ref_date', 'GEO' : 'geo', 'SEX' : 'sex', 'AGE' : 'age', 'INC' : 'inc', 'Value' : 'value'})
            
            
            #================> the following code re-shapes the data and creates a column for each income bin =====>
            incTable = pd.pivot_table(temp[['ref_date', 'geo','geo_id', 'sex','inc','value']], 
                                values='value', index=['ref_date', 'geo','geo_id', 'sex'],columns=['inc'],aggfunc=np.mean)
            
            try:
                incTable.drop(columns=['5-year percent change of median income',
                                       'Median total income (dollars)'],inplace=True) # delete unused cols if they exist
            except:
                pass
            
            renamecol = lambda x: re.sub('[^0-9]','', x) # define func. to rename income bins to the upper bin range value
            
            incTable = incTable.rename(columns=dict(zip(incTable.columns[:-1].tolist(), 
                                                        list(map(renamecol, incTable.columns[:-1].tolist()))))) # rename cols

            #===============> The following code converts data from total persons making over $x to a % of population====>
            incTable['200000'] = incTable.apply(lambda x: x['100000']/x[incTable.columns[-1]]*100, axis=1)
            incTable['100000'] = incTable.apply(lambda x: (x['75000'] - x['100000'])/x[incTable.columns[-1]]*100, axis=1) 
            incTable['75000'] = incTable.apply(lambda x: (x['50000'] - x['75000'])/x[incTable.columns[-1]]*100, axis=1)
            incTable['50000'] = incTable.apply(lambda x: (x['35000'] - x['50000'])/x[incTable.columns[-1]]*100, axis=1)  
            incTable['35000'] = incTable.apply(lambda x: (x['20000'] - x['35000'])/x[incTable.columns[-1]]*100, axis=1) 
            incTable['20000'] = incTable.apply(lambda x: (x['10000'] - x['20000'])/x[incTable.columns[-1]]*100, axis=1) 
            incTable['10000'] = incTable.apply(lambda x: (x[incTable.columns[-1]] - x['10000'])/x[incTable.columns[-1]]*100, axis=1)



            incTable.rename(columns={'200000' : 'Over 100000'}, inplace=True)                # rename cols
            incTable.drop(columns=['5000','15000','25000','150000', '250000'],inplace=True)  # drop unused cols

            
            for col in incTable.columns.tolist():
                incTable[col][incTable[col].isna() == True] = 0     # na values have 0% of population within bin
                
            incTable['totalpercent'] = incTable.apply(
                    lambda x: sum([float(x[xi]) for xi in incTable.columns[:-1].tolist()]), axis=1) # used to check if %'s add up to 1

            #=============> send data to R and return smoothed income distribution ==========> 
            incTable['dist'] = incTable.apply(lambda x: get_incDist([x['10000'],
                                                                     x['20000'], x['35000'],
                                                                     x['50000'], x['75000'],
                                                                     x['100000'], x['Over 100000']]), axis=1)

            #===========> creates data for more refined income bins generated by the smoothed distribution ===>
            #===============> calls R to calculate inequality metrics given the income distributions =========>
            incTable['tempdist'] = incTable.dist.apply(lambda x: x.rvs(size=30000))
            incTable['gini'] = incTable.tempdist.apply(get_gini)
            incTable['median'] = incTable.dist.apply(lambda x: x.median())
            incTable['atkLow'] = incTable.tempdist.apply(lambda x: get_atkinson(x, eps=0.5))
            incTable['atkHigh'] = incTable.tempdist.apply(lambda x: get_atkinson(x, eps=2))
            incTable['palma'] = incTable.apply(lambda x: get_palma(x['dist'], x['tempdist']), axis=1)
            incTable = incTable.drop(columns='tempdist')

            #============> the only variables which are needed later are retained in the 'temp' dataframe ======>
            temp = incTable[['Total persons with income','gini', 'atkLow',
                             'atkHigh', 'palma', 'median']].apply(
                             pd.to_numeric).set_index(
                                     incTable.index.get_level_values(2).astype(int))
            
            
            
            #===========> reshape dataframe (ie. move sex,year from index to columns) ===>
            temp.index.set_names('x', inplace=True)
            temp['Year'] = incTable.index.get_level_values(0).astype(int).tolist()
            temp['geo_id'] = incTable.index.get_level_values(2).tolist()
            temp['Sex'] = incTable.index.get_level_values(3).astype(str).tolist()

            tempInc = pd.pivot_table(temp[['Year','geo_id', 'Sex', 
                                               'Total persons with income', 'gini',
                                               'atkLow','atkHigh','palma','median']], 
                                                values=['Total persons with income', 'gini',
                                                        'atkLow','atkHigh', 'median'], index='geo_id',
                                                        columns=['Year', 'Sex'],aggfunc=np.mean)

            # note: this makes it so that the only index is geography, such that all the data can easily be joined
            # on the geo_id and saved as a shapefile for geographical visualization/processing.

        
        #====================> Reshape health data for merging with income data =============>
        healthData.rename(columns={'ref_date' : 'Year', 'age' : 'Age', 'sex' : 'Sex', 'UNIT' : 'unit'}, inplace = True)

        healthData[['Age','Sex', 'hrprof', 'unit']] = healthData[['Age',
               'Sex', 'hrprof', 'unit']].astype(str)

        healthData[['Year','value']] = healthData[['Year','value']].apply(pd.to_numeric)

        tempHealth = pd.pivot_table(healthData[['HR_UID',
                                    'Year', 'Sex', 'value']], 
                                            values=['value'], index=['HR_UID'],
                                                    columns=['Year', 'Sex'],aggfunc=np.mean)


        """_______SHAPEFILES!!!!!!!!!!_________"""
        ineqShapeCities = healthCanShp.merge(tempInc, how='inner', left_on='geo_idx', right_index=True)
        healthShapeRegions = healthCanShp.merge(tempHealth, left_on='HR_UID', 
                                              right_index=True).merge(
                                                      tempInc, left_on='geo_idx', right_index=True)




        """________CREATE DATA TABLE____________"""

        regionsData = healthCanShp.merge(temp, how='inner', left_on='geo_idx', right_index=True)
        regionsData.rename(columns={'hr_uid' : 'HR_UID', 'eng_label' : 'ENG_LABEL'}, inplace=True)
        regionsData[['HR_UID', 'ENG_LABEL', 'name_3', 'geo_idx']] = regionsData[['HR_UID', 'ENG_LABEL', 'name_3', 'geo_idx']].astype(str)
        healthData.rename(columns={'ref_date' : 'Year', 'age' : 'Age', 'sex' : 'Sex'}, inplace = True)

        healthData[['Age','Sex', 'hrprof', 'unit']] = healthData[['Age',
               'Sex', 'hrprof', 'unit']].astype(str)
        healthData[['Year','value']] = healthData[['Year','value']].apply(pd.to_numeric)

        regionsData = regionsData.merge(healthData[['HR_UID','Year', 'Age',
               'Sex', 'hrprof', 'unit', 'value']], how='left', on=['HR_UID','Year','Sex'])



        diri = "/home/benmo/Data/GeoData/Inequality/{age}".format(age=varI)
        dirj = "/{htype}".format(htype=hType)

        if not os.path.exists(diri + dirj):
            os.mkdir(diri + dirj)

        """______________________SEND TO STATA _____________________________"""
        if stata == 1:
            regionsData[varI] = varI
            regionsData[hType] = hType
            regionsData[['HR_UID', 'ENG_LABEL', 'name_1', 'name_3', 'geo_idx', 'gini','atkLow','atkHigh','palma','median','Year','Sex', 'Age', 'hrprof',
                         'Total persons with income', 'unit', 'value'] + [
                                 varI, hType]].astype(str).to_stata(diri + dirj + "/stataHealth.dta")


        """______________________SEND TO PICKLE _____________________________"""

        regionsData[varI] = varI
        regionsData[hType] = hType
        regionsData[['HR_UID', 'ENG_LABEL', 'name_1', 'name_3', 'geo_idx', 'gini','atkLow','atkHigh','palma','median','Year','Sex', 'Age', 'hrprof',
                     'Total persons with income', 'unit', 'value'] + [
                             varI, hType]].to_pickle(diri + dirj + "/pyHealth.pkl")
        if j == 0:
            incTable.to_pickle(diri + dirj + "/pyIncomeTable.pkl")

        ineqShapeCities.to_pickle(diri + dirj + "/pyShpCities.pkl") 
        healthShapeRegions.to_pickle(diri + dirj + "/pyShpRegions.pkl")


        """______________________SAVE SHAPEFILES TO DISK_____________________________"""

        if shape == 1:
            ineqShapeCities.rename(columns=lambda x: tuple2str(x), inplace=True)
            healthShapeRegions.rename(columns=lambda x: tuple2str(x), inplace=True)

            ineqShapeCities.to_file(diri + dirj + "/ineqCity.shp", driver='ESRI Shapefile')
            healthShapeRegions.to_file(diri + dirj + "/ineqRegion.shp", driver='ESRI Shapefile')

spark.stop()

## Merge Other Datasets (Food Insec./Unemp./Education)

### Merge with Food Insecurity

In [6]:
columns = ['HR_UID', 'ENG_LABEL', 'name_1', 'name_3', 'geo_idx', 'gini','atkLow','atkHigh','palma', 'median',
       'Year', 'Sex', 'Age', 'hrprof', 'Total persons with income', 'unit',
       'value']


data = pd.DataFrame([])

for age in incDistVars['age']:
    dfListj = [pd.read_pickle(
        "/home/benmo/Data/GeoData/Inequality/{i}/{j}/pyHealth.pkl".format(i=age, 
                                                          j=cati)) for cati in healthVars['hrprof']]    
    temp = pd.DataFrame(reduce(lambda x, y: x[columns].append(y[columns], ignore_index=True),dfListj))
    data = data.append(temp, ignore_index=True)


    
data[['ENG_LABEL', 'name_1', 'name_3',
       'Sex', 'Age', 'hrprof', 'unit']] = data[
    ['ENG_LABEL', 'name_1', 'name_3',
       'Sex', 'Age', 'hrprof', 'unit']].astype(str)


data[['HR_UID','geo_idx', 'gini','atkLow','atkHigh','palma', 'median',
       'Year', 'Total persons with income',
       'value']] = data[['HR_UID','geo_idx', 'gini','atkLow','atkHigh','palma', 'median',
       'Year', 'Total persons with income',
       'value']].apply(pd.to_numeric, errors = 'coerce')


data = pd.pivot_table(data[['HR_UID', 'name_1', 'geo_idx', 'Year', 'Sex', 'Age','hrprof', 'value', 
                            'gini','atkLow','atkHigh','palma', 'median', 'Total persons with income','ENG_LABEL','name_3']], 
                     values = ['value'], index = ['HR_UID', 'name_1', 'geo_idx', 'Year', 'Sex', 'Age',
                                                 'gini','atkLow','atkHigh', 'palma','median', 'Total persons with income','ENG_LABEL','name_3'],
                     columns = ['hrprof'])


    
data = data.reset_index()    

colnames_l0 = ['HR_UID', 'name_1', 'geo_idx', 'Year', 'Sex', 'Age',
              'gini','atkLow','atkHigh','palma', 'median', 'Total persons with income','ENG_LABEL','name_3']
colnames_l1 = [colname for colname in list(filter(lambda x: x !=  '', data.columns.get_level_values(1)))]

data = pd.DataFrame(data=data.values, columns= colnames_l0 + colnames_l1)
data

,HR_UID,name_1,geo_idx,Year,Sex,Age,gini,atkLow,atkHigh,palma,...,"Participation and activity limitation, sometimes or often","Perceived health, fair or poor","Perceived health, very good or excellent","Perceived life stress, quite a lot (15 years and over)","Perceived mental health, fair or poor","Perceived mental health, very good or excellent","Physical activity during leisure-time, inactive","Physical activity during leisure-time, moderately active or active","Sense of belonging to local community, somewhat strong or very strong","Wears a helmet when riding a bicycle, always"
0,1011,Newfoundland and Labrador,1936,2008,Both sexes,20 to 34 years,0.405755,0.139878,0.642991,1.85924,...,19.3,NaN,71.8,16.3,NaN,81.1,48.7,51.3,73.1,NaN
1,1011,Newfoundland and Labrador,1936,2008,Both sexes,35 to 44 years,0.418291,0.147597,0.672126,2.04851,...,33.1,NaN,67,17.3,NaN,84.8,58.8,41.2,70,NaN
2,1011,Newfoundland and Labrador,1936,2008,Both sexes,45 to 64 years,0.473043,0.189659,0.799009,2.89536,...,37.9,16.3,54.1,15,8.5,71.6,63.7,36.3,83.3,NaN
3,1011,Newfoundland and Labrador,1936,2008,Both sexes,"Total, 12 years and over",0.458179,0.173812,0.695226,2.48846,...,32.6,11.6,61.3,13.6,5,77.6,56,44,79,NaN
4,1011,Newfoundland and Labrador,1936,2008,Both sexes,nan,0.405755,0.139878,0.642991,1.85924,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1011,Newfoundland and Labrador,1936,2008,Both sexes,nan,0.418291,0.147597,0.672126,2.04851,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1011,Newfoundland and Labrador,1936,2008,Both sexes,nan,0.458179,0.173812,0.695226,2.48846,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1011,Newfoundland and Labrador,1936,2008,Both sexes,nan,0.473043,0.189659,0.799009,2.89536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1011,Newfoundland and Labrador,1936,2008,Females,20 to 34 years,0.290461,0.0716937,0.360349,0.944547,...,20.5,NaN,77.3,12.3,NaN,79.9,49.7,50.3,74,NaN
9,1011,Newfoundland and Labrador,1936,2008,Females,35 to 44 years,0.367634,0.109809,0.485718,1.4335,...,26.8,NaN,73.7,NaN,NaN,79.6,54.7,45.3,74.4,NaN
10,1011,Newfoundland and Labrador,1936,2008,Females,45 to 64 years,0.43759,0.162481,0.774952,2.26487,...,36,12.7,62.5,16.4,NaN,69.7,68,32,84.1,NaN
11,1011,Newfoundland and Labrador,1936,2008,Females,"Total, 12 years and over",0.414399,0.142307,0.606422,1.99945,...,30.3,9.8,66.9,11.7,4.7,75.8,59.6,40.4,80.4,NaN
12,1011,Newfoundland and Labrador,1936,2008,Females,nan,0.290461,0.0716937,0.360349,0.944547,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1011,Newfoundland and Labrador,1936,2008,Females,nan,0.367634,0.109809,0.485718,1.4335,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1011,Newfoundland and Labrador,1936,2008,Females,nan,0.414399,0.142307,0.606422,1.99945,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1011,Newfoundland and Labrador,1936,2008,Females,nan,0.43759,0.162481,0.774952,2.26487,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1011,Newfoundland and Labrador,1936,2008,Males,20 to 34 years,0.399818,0.139213,0.741981,1.81822,...,NaN,NaN,65,21.4,NaN,82.7,47.3,52.7,71.9,NaN
17,1011,Newfoundland and Labrador,1936,2008,Males,35 to 44 years,0.381818,0.127918,0.725973,1.62738,...,38.3,NaN,61.5,NaN,NaN,89,62.1,37.9,66.4,NaN
18,1011,Newfoundland and Labrador,1936,2008,Males,45 to 64 years,0.424998,0.154437,0.769396,2.09922,...,39.8,20,45.4,NaN,NaN,73.7,59.2,40.8,82.5,NaN
19,1011,Newfoundland and Labrador,1936,2008,Males,"Total, 12 years and over",0.436152,0.159096,0.690883,2.32654,...,35.1,13.6,55.3,15.6,NaN,79.5,52.1,47.9,77.5,NaN
20,1011,Newfoundland and Labrador,1936,2008,Males,nan,0.381818,0.127918,0.725973,1.62738,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1011,Newfoundland and Labrador,1936,2008,Males,nan,0.399818,0.139213,0.741981,1.81822,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1011,Newfoundland and Labrador,1936,2008,Males,nan,0.424998,0.154437,0.769396,2.09922,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1011,Newfoundland and Labrador,1936,2008,Males,nan,0.436152,0.159096,0.690883,2.32654,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1011,Newfoundland and Labrador,1936,2009,Both sexes,20 to 34 years,0.38142,0.129126,0.713866,1.59148,...,21.1,7.8,65,15.3,NaN,84.8,49.3,50.7,64.3,53.5
25,1011,Newfoundland and Labrador,1936,2009,Both sexes,35 to 44 years,0.409208,0.142034,0.681626,1.88594,...,26,NaN,62.4,18.8,NaN,89.8,63.4,36.6,81.8,40.4
26,1011,Newfoundland and Labrador,1936,2009,Both sexes,45 to 64 years,0.457264,0.17924,0.811739,2.66053,...,38.2,18.2,53.8,9.5,NaN,72.4,54.8,45.2,82.9,NaN
27,1011,Newfoundland and Labrador,1936,2009,Both sexes,"Total, 12 years and over",0.445637,0.166034,0.681778,2.38492,...,30.9,13.1,59.1,12.8,3.2,77.2,54,46,78.4,48.1
28,1011,Newfoundland and Labrador,1936,2009,Both sexes,nan,0.38142,0.129126,0.713866,1.59148,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1011,Newfoundland and Labrador,1936,2009,Both sexes,nan,0.409208,0.142034,0.681626,1.88594,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25101,6101,Northwest Territories,1731,2014,Both sexes,nan,0.387821,0.134437,0.802815,1.73558,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25102,6101,Northwest Territories,1731,2014,Both sexes,nan,0.429807,0.165792,0.84781,2.25236,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25103,6101,Northwest Territories,1731,2014,Females,20 to 34 years,0.402815,0.144526,0.797478,1.90908,...,36,NaN,49.3,27,12,61.6,32.1,67.9,75.1,38.5
25104,6101,Northwest Territories,1731,2014,Females,35 to 44 years,0.387045,0.138494,0.847521,1.70513,...,36,NaN,58,28.4,NaN,66.5,43.6,56.4,82.6,57.5
25105,6101,Northwest Territories,1731,2014,Females,45 to 64 years,0.390414,0.138875,0.819227,1.69073,...,45.9,18.8,51.1,31,NaN,66.3,45.7,54.3,88.9,58.6
25106,6101,Northwest Territories,1731,2014,Females,"Total, 12 years and over",0.438902,0.169488,0.816644,2.46195,...,43.4,11.2,53.5,24.7,7.7,60.8,39.6,60.4,83.2,44
25107,6101,Northwest Territories,1731,2014,Females,nan,0.387045,0.138494,0.847521,1.70513,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25108,6101,Northwest Territories,1731,2014,Females,nan,0.390414,0.138875,0.819227,1.69073,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25109,6101,Northwest Territories,1731,2014,Females,nan,0.402815,0.144526,0.797478,1.90908,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25110,6101,Northwest Territories,1731,2014,Females,nan,0.438902,0.169488,0.816644,2.46195,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25111,6101,Northwest Territories,1731,2014,Males,20 to 34 years,0.367054,0.121281,0.749607,1.55354,...,NaN,NaN,68,12.9,NaN,75.9,36.3,63.7,75.1,NaN
25112,6101,Northwest Territories,1731,2014,Males,35 to 44 years,0.328906,0.105085,0.825574,1.20708,...,40.2,NaN,50,35.6,NaN,56.1,59.7,40.3,59.5,43.8
25113,6101,Northwest Territories,1731,2014,Males,45 to 64 years,0.349485,0.122956,0.818938,1.35154,...,48.1,23.5,33.9,NaN,NaN,56.4,53.9,46.1,89.7,42.6
25114,6101,Northwest Territories,1731,2014,Males,"Total, 12 years and over",0.41001,0.155315,0.835245,2.01465,...,37.6,15.5,47.8,18.8,9.3,60.1,45.3,54.7,77.6,31.5
25115,6101,Northwest Territories,1731,2014,Males,nan,0.328906,0.105085,0.825574,1.20708,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25116,6101,Northwest Territories,1731,2014,Males,nan,0.349485,0.122956,0.818938,1.35154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25117,6101,Northwest Territories,1731,2014,Males,nan,0.367054,0.121281,0.749607,1.55354,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25118,6101,Northwest Territories,1731,2014,Males,nan,0.41001,0.155315,0.835245,2.01465,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25119,6101,Northwest Territories,1731,2015,Both sexes,nan,0.356409,0.120536,0.813572,1.43273,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25120,6101,Northwest Territories,1731,2015,Both sexes,nan,0.374413,0.134823,0.846171,1.57085,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25121,6101,Northwest Territories,1731,2015,Both sexes,nan,0.39761,0.140859,0.790336,1.82585,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25122,6101,Northwest Territories,1731,2015,Both sexes,nan,0.427878,0.165592,0.844229,2.31788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25123,6101,Northwest Territories,1731,2015,Females,nan,0.375863,0.13149,0.832065,1.57399,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25124,6101,Northwest Territories,1731,2015,Females,nan,0.386686,0.139099,0.838278,1.74754,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25125,6101,Northwest Territories,1731,2015,Females,nan,0.409385,0.148525,0.804525,1.95029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25126,6101,Northwest Territories,1731,2015,Females,nan,0.435194,0.168625,0.83223,2.3768,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25127,6101,Northwest Territories,1731,2015,Males,nan,0.327907,0.105287,0.809634,1.18892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25128,6101,Northwest Territories,1731,2015,Males,nan,0.348515,0.12263,0.827623,1.3566,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25129,6101,Northwest Territories,1731,2015,Males,nan,0.375123,0.126805,0.772397,1.60712,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25130,6101,Northwest Territories,1731,2015,Males,nan,0.413165,0.157896,0.858148,1.9615,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
food = spark.read.format("jdbc").option("url", 
                               "jdbc:sqlite:/home/benmo/Data/Databases/health.db").option(
                                       "dbtable", "FoodInsec").load()

food_df2012 = food.select('*').where((food.STATUS == 'Food insecure, moderate and severe') & 
                    (food.Ref_Date == '2011/2012') & (
                    food.UNIT == 'Percent of persons in households')).toPandas()


food_df2008 = food.select('*').where((food.STATUS == 'Food insecure, moderate and severe') & 
                    (food.Ref_Date == '2007/2008') & (
                    food.UNIT == 'Percent of persons in households')).toPandas()


food_df2012.Geographicalclassification = food_df2012.Geographicalclassification.apply(
            lambda x: x[:4])
food_df2008.Geographicalclassification = food_df2008.Geographicalclassification.apply(
            lambda x: x[:4])

food_df2012.rename(columns={'Ref_Date' : 'Year','Geographicalclassification' : 'HR_UID','AGE' : 'Age',
 'SEX' : 'Sex', 'Value' : 'Pct Food Insecure'}, inplace=True)
food_df2008.rename(columns={'Ref_Date' : 'Year','Geographicalclassification' : 'HR_UID','AGE' : 'Age',
 'SEX' : 'Sex', 'Value' : 'Pct Food Insecure'}, inplace=True)    
    
food_df2012.GEO[food_df2012.GEO == 'Quebec'] = 'QuÃ©bec'
food_df2008.GEO[food_df2008.GEO == 'Quebec'] = 'QuÃ©bec'


food_df2012['Prov Food Insecurity2012'] = food_df2012['Pct Food Insecure']
food_df2008['Prov Food Insecurity2008'] = food_df2008['Pct Food Insecure']

food_df2012['Pct Food Insecure2012'] = food_df2012['Pct Food Insecure']
food_df2008['Pct Food Insecure2008'] = food_df2008['Pct Food Insecure']

data = data.merge(food_df2012[['GEO', 'Age', 'Sex', 'Prov Food Insecurity2012']], 
           how='left', left_on=['name_1', 'Age', 'Sex'],
           right_on=['GEO', 'Age', 'Sex']).merge(food_df2008[
                        ['GEO', 'Age', 'Sex', 'Prov Food Insecurity2008']], 
           how='left', left_on=['name_1', 'Age', 'Sex'],
           right_on=['GEO', 'Age', 'Sex'])

data = data.merge(food_df2012[['HR_UID', 'Age', 'Sex', 'Pct Food Insecure2012']], 
           how='left', on=['HR_UID', 'Age', 'Sex']).merge(
    food_df2008[['HR_UID', 'Age', 'Sex', 'Pct Food Insecure2008']], 
           how='left', on=['HR_UID', 'Age', 'Sex'])


strcols = ['name_1','Sex','Age','GEO_x','GEO_y','ENG_LABEL','name_3']

data[strcols] = data[strcols].astype(str)
data[list(filter(lambda x: x not in strcols, data.columns))] = data[
    list(filter(lambda x: x not in strcols, data.columns))].apply(lambda x: pd.to_numeric(x, errors='coerce'))


data = data[data.Age.isna() == False]


#data.to_stata("/home/benmo/Data/GeoData/Inequality/healthStata.dta")

### Merge with Unemployment

In [11]:
unemp = spark.read.format("jdbc").option("url", 
                               "jdbc:sqlite:/home/benmo/Data/Databases/health.db").option(
                                       "dbtable", "unemp").load()

unemp_df = unemp.select('*').where(unemp.LABFORCE == 'Unemployment rate, 15 years and over').toPandas()

unemp_df.Geographicalclassification = unemp_df.Geographicalclassification.apply(lambda x: x[:4])


unemp_df.rename(columns={'Ref_Date' : 'Year','Geographicalclassification' : 'HR_UID', 'Value' : 'Unemployment'}, inplace=True)

unemp_df = unemp_df.apply(lambda x: pd.to_numeric(x, errors ='coerce'))

unemp_df = unemp_df[unemp_df.HR_UID.isna() == False]

data = data.merge(unemp_df[['Year','HR_UID', 'Unemployment']], 
           how='left', on=['Year','HR_UID'])

### Merge with Education

In [12]:
educ = spark.read.format("jdbc").option("url", 
                               "jdbc:sqlite:/home/benmo/Data/Databases/health.db").option(
                                       "dbtable", "educ_cities").load()



educ_levels = ["Total - Highest level of schooling", 
               "Total - Highest certificate, diploma or degree",
               
               'No certificate, diploma or degree',
               
               "With high school graduation certificate",
               "High school certificate or equivalent",
               "High school diploma or equivalent",
               "Secondary (high) school diploma or equivalency certificate",
               
               "College, CEGEP or other non-university certificate or diploma",
               "University certificate or diploma below the bachelor level",
               "University certificate or diploma below bachelor level",
               "College",
               
               "Trades certificate or diploma",
               "Apprenticeship or trades certificate or diploma",
               
                "With bachelor's degree or higher",
                "University certificate, diploma or degree at bachelor level or above"]





educ_df = educ.select("*").where(

        ((educ.labor.isin(["Total - Labour force activity", "Total - Labour force status"])) &

        (educ.age.isin(["Total - Age groups", "Total - Age",'25 to 34 years','35 to 44 years',
                       '35-39 years', '40-44 years', '25-29 years', '30-34 years', 
                        '30-34 years', '45-64 years', '45 to 54 years','55 to 64 years']))) & 
        (educ.educ.isin(educ_levels))).toPandas()

In [13]:
provinces2 = ['British Columbia / Colombie-Britannique', 'Yukon Territory - Territoire du Yukon', 
'Northwest Territories / Territoires du Nord-Ouest','Prince Edward Island - Ãƒ\x8ele-du-Prince-Ãƒ\x89douard', 
'Newfoundland and Labrador - Terre-Neuve-et-Labrador', 'British Columbia - Colombie-Britannique',
'Yukon Territory / Territoire du Yukon', 'Ontario', 'Alberta', 'Manitoba', 'Nunavut', 'Saskatchewan',
'Northwest Territories / Territoires du Nord-Ouest', 'Quebec / QuÃƒÂ©bec', 'Quebec - QuÃƒÂ©bec', 'New Brunswick / Nouveau-Brunswick', 
'Prince Edward Island / Ãƒ\x8ele-du-Prince-Ãƒ\x89douard', 'Newfoundland and Labrador / Terre-Neuve-et-Labrador',
'Nova Scotia - Nouvelle-Ãƒ\x89cosse', 'New Brunswick - Nouveau-Brunswick', 'Nova Scotia / Nouvelle-Ãƒ\x89cosse']

provinces2+=['Canada']



educ_df.geo[educ_df.geo == 'Quebec - QuÃƒÂ©bec'] = 'QuÃ©bec'
educ_df.geo[educ_df.geo.apply(lambda x: x in ['British Columbia / Colombie-Britannique',
                           'British Columbia - Colombie-Britannique']) == True] = 'British Columbia'
educ_df.geo[educ_df.geo.apply(lambda x: x in ['Northwest Territories / Territoires du Nord-Ouest',
                           'Northwest Territories / Territoires du Nord-Ouest']) == True] = 'Northwest Territories'
educ_df.geo[educ_df.geo.apply(lambda x: x in ['Newfoundland and Labrador - Terre-Neuve-et-Labrador',
                           'Newfoundland and Labrador / Terre-Neuve-et-Labrador']) == True] = 'Newfoundland and Labrador'
educ_df.geo[educ_df.geo.apply(lambda x: x in ['New Brunswick - Nouveau-Brunswick',
                           'New Brunswick / Nouveau-Brunswick']) == True] = 'New Brunswick'
educ_df.geo[educ_df.geo.apply(lambda x: x in ['Nova Scotia - Nouvelle-Ãƒ\x89cosse',
                           'Nova Scotia / Nouvelle-Ãƒ\x89cosse']) == True] = 'Nova Scotia'
educ_df.geo[educ_df.geo.apply(lambda x: x in ['Prince Edward Island / Ãƒ\x8ele-du-Prince-Ãƒ\x89douard',
                           'Prince Edward Island - Ãƒ\x8ele-du-Prince-Ãƒ\x89douard']) == True] = 'Prince Edward Island'
educ_df.geo[educ_df.geo.apply(lambda x: x in ['Yukon Territory - Territoire du Yukon',
                           'Yukon Territory / Territoire du Yukon']) == True] = 'Yukon'




educ_df.Value = pd.to_numeric(educ_df.Value, errors='coerce')

educ_df = pd.pivot_table(educ_df[['year','geo','sex', 'age', 'educ','Value']], 
                     values = 'Value', index = ['year','geo','sex', 'educ'],
                     columns = 'age')



educ_df['25 to 34 years'][educ_df.index.get_level_values(0) == 2001] = educ_df['25-29 years'] + educ_df['30-34 years']
educ_df['35 to 44 years'][educ_df.index.get_level_values(0) == 2001] = educ_df['35-39 years'] + educ_df['40-44 years']

educ_df.rename(columns={'45-64 years' : '45 to 64 years'}, inplace=True)

educ_df['45 to 64 years'][((educ_df.index.get_level_values(0) == 2006) |
                          (educ_df.index.get_level_values(0) == 2011)) | 
                          (educ_df.index.get_level_values(0) == 2016)] = educ_df['45 to 54 years'] + educ_df['55 to 64 years']


educ_df["Total - Age groups"][educ_df.index.get_level_values(0) == 2016] = educ_df['Total - Age']



educ_df = educ_df.unstack()[['25 to 34 years', '35 to 44 years',
                        '45 to 64 years', 'Total - Age groups']]


cols = educ_df.columns.get_level_values(0).unique()


for col in cols:
    educ_df[idx[col,'Population']] = educ_df.loc[:,idx[col,'Total - Highest level of schooling']].apply(np.nan_to_num) + educ_df.loc[:,idx[
        col, 'Total - Highest certificate, diploma or degree']].apply(np.nan_to_num)

    educ_df[idx[col,'lessThanHS']] = educ_df.loc[:,idx[col,'No certificate, diploma or degree']].apply(
        np.nan_to_num) / educ_df.loc[:,idx[col,'Population']].apply(np.nan_to_num) 

    
    educ_df[idx[col,'High School']] = (educ_df.loc[:,idx[col,'High school certificate or equivalent']].apply(np.nan_to_num) + educ_df.loc[:,idx[
        col,'High school diploma or equivalent']].apply(np.nan_to_num) + educ_df.loc[:,idx[
        col,'Secondary (high) school diploma or equivalency certificate']].apply(np.nan_to_num) + educ_df.loc[:,idx[
        col,'With high school graduation certificate']].apply(np.nan_to_num)) / educ_df.loc[:,idx[col,'Population']].apply(np.nan_to_num)
 
    educ_df[idx[col,'CollegeDiploma']] = (educ_df.loc[:,idx[col,"College, CEGEP or other non-university certificate or diploma"]].apply(np.nan_to_num) + educ_df.loc[:,idx[
        col,"University certificate or diploma below the bachelor level"]].apply(np.nan_to_num) + educ_df.loc[:,idx[
        col,"University certificate or diploma below bachelor level"]].apply(np.nan_to_num) + educ_df.loc[:,idx[
        col,"College"]].apply(np.nan_to_num)) / educ_df.loc[:,idx[col,'Population']].apply(np.nan_to_num)

    educ_df[idx[col,'Trades']] = (educ_df.loc[:,idx[col,'Apprenticeship or trades certificate or diploma']].apply(np.nan_to_num) + educ_df.loc[:,idx[
        col,'Trades certificate or diploma']].apply(np.nan_to_num)) / educ_df.loc[:,idx[col,'Population']].apply(np.nan_to_num) 

                              
    educ_df[idx[col,'University']] = (educ_df.loc[:,idx[col,'University certificate, diploma or degree at bachelor level or above']].apply(np.nan_to_num) + educ_df.loc[:,idx[
        col,"With bachelor's degree or higher"]].apply(np.nan_to_num)) / educ_df.loc[:,idx[col,'Population']].apply(np.nan_to_num)



dropcols = ['Apprenticeship or trades certificate or diploma', 'High school certificate or equivalent', 
            'High school diploma or equivalent', 'Secondary (high) school diploma or equivalency certificate', 
            'Total - Highest certificate, diploma or degree', 'Total - Highest level of schooling', 
            'Trades certificate or diploma', 'University certificate, diploma or degree at bachelor level or above', 
            "With bachelor's degree or higher", "With high school graduation certificate", "College",
           "College, CEGEP or other non-university certificate or diploma", "University certificate or diploma below the bachelor level",
           "University certificate or diploma below bachelor level", 'No certificate, diploma or degree']

educ_df = educ_df.stack('age').drop(columns=dropcols).reset_index()

educ_df.rename(columns={'year' : 'Year','sex' : 'Sex', 'age' : 'Age'}, inplace=True)

educ_df.Sex[educ_df.Sex == 'Female'] = 'Females'
educ_df.Sex[educ_df.Sex == 'Male'] = 'Males'
educ_df.Sex[educ_df.Sex == 'Total - Sex'] = 'Both sexes'

/home/benmo/intelpython3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/benmo/intelpython3/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/benmo/intelpython3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/benmo/intelpython3/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/benmo/intelpython3/lib/python3.6/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/benmo/intelpython3/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/benmo/intelpython3/lib/python3.6/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/benmo/intelpython3/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/benmo/intelpython3/lib/python3.6/site-packages/ipykernel_launcher.py:100: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/benmo/intelpython3/lib/python3.6/site-packages/ipykernel_launcher.py:101: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/benmo/intelpython3/lib/python3.6/site-packages/ipykernel_launcher.py:102: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:


educ_df.Age[educ_df.Age == '25 to 34 years'] = '20 to 34 years'
educ_df.Age[educ_df.Age == 'Total - Age groups'] = 'Total, 12 years and over'


cities = educ_df.geo[educ_df.geo.apply(lambda x: x in provinces2) == False].apply(
    lambda x: x[:12] if (((x.find(',') >=12) | 
                         (x.find('/') >=12)) |
                        x.find('-') >=12) else x[:x.find(',')]).unique()     # get list of cities & truncate
            
cities = pd.DataFrame(data=np.array([cities, list(map(lambda x: closestIndex(canadaShp['name_3'], x), cities))]).T,
            columns=['geo','geo_idx'])         # get geo_id of cities in education data

educ_df['geo_old'] = educ_df.geo

educ_df.geo = educ_df.geo.apply(
    lambda x: x[:12] if ((((x.find(',') >=12) | 
                         (x.find('/') >=12)) |
                        x.find('-') >=12)) else x[:x.find(',')])

educ_df = educ_df.merge(cities, how='left', on='geo') # data now includes geo_id for merging

educ_df.geo_idx = educ_df.geo_idx.apply(pd.to_numeric)

educ_df = educ_df.merge(healthCanShp[['geo_idx','HR_UID','name_1', 'name_3']], how='left', on='geo_idx')


educ_df[['Year','geo_idx','Population', 'lessThanHS', 
        'High School', 'CollegeDiploma', 'Trades','University','HR_UID']] = educ_df[['Year','geo_idx','Population',
                                                                                     'lessThanHS', 'High School', 
                                                        'CollegeDiploma', 'Trades','University','HR_UID']].apply(pd.to_numeric)

educ_df[['Age','Sex','geo','geo_old','HR_UID','name_1', 'name_3']] = educ_df[['Age','Sex','geo','geo_old',
                                                                   'HR_UID','name_1', 'name_3']].astype(str)

educ_df = educ_df[educ_df['lessThanHS'] != np. inf]
educ_df = educ_df[educ_df['CollegeDiploma'] != np. inf]
educ_df = educ_df[educ_df['High School'] != np. inf]
educ_df = educ_df[educ_df['Trades'] != np. inf]
educ_df = educ_df[educ_df['University'] != np. inf]

/home/benmo/intelpython3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/benmo/intelpython3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

$\alpha$

In [16]:
#data.to_stata("/home/benmo/Data/GeoData/Inequality/healthStataFull.dta")
educ_df.to_stata("/home/benmo/Data/GeoData/Inequality/StataEducCities.dta")

/home/benmo/intelpython3/lib/python3.6/site-packages/pandas/io/stata.py:2121: InvalidColumnName:


Not all pandas column names were valid Stata variable names.
The following replacements have been made:

    b'High School'   ->   High_School

If this is not what you expect, please make sure you have Stata-compliant
column names in your DataFrame (strings only, max 32 characters, only
alphanumerics and underscores, no Stata reserved words)

In [35]:
educ_df.columns

Index(['Year', 'geo', 'Sex', 'Age', 'High School', 'Population', 'Trades',
       'University'],
      dtype='object', name='educ')

['No certificate, diploma or degree',
 'High school certificate or equivalent',
 'Postsecondary certificate, diploma or degree',
 'Total - Highest level of schooling',
 'University certificate or diploma below the bachelor level',
 'Less than grade 9',
 'University certificate or diploma below bachelor level',
 "Bachelor's degree",
 'Secondary (high) school diploma or equivalency certificate',
 'Trades certificate or diploma (other than apprenticeship)',
 'Without certificate or diploma',
 'High school diploma or equivalent',
 "Master's degree",
 'University certificate or degree',
 'Trades certificate or diploma',
 'Without high school graduation certificate',
 'Without degree',
 'Registered Apprenticeship certificate',
 'Degree in medicine, dentistry, veterinary medicine or optometry',
 'Total - Highest certificate, diploma or degree',
 "With bachelor's degree or higher",
 'University certificate, diploma or degree at bachelor level or above',
 'University certificate, diploma or degree above bachelor level',
 'With high school graduation certificate',
 'College',
 'Earned doctorate',
 'Grades 9 to 13',
 'University certificate or diploma above bachelor level',
 'College, CEGEP or other non-university certificate or diploma',
 'With certificate or diploma',
 'Apprenticeship or trades certificate or diploma',
 'University']

In [ ]:




'With certificate or diploma',
'University certificate or degree'
'Postsecondary certificate, diploma or degree',

In [15]:
educ.select(['educ','year']).where(
    educ.educ == 'No certificate, diploma or degree').distinct().toPandas().year.tolist()

[2006, 2011, 2016]

In [24]:
incTable.apply(lambda x: get_palma(x['dist'], x['tempdist']), axis=1)

ref_date  geo           geo_id  sex
2000      Calgary       394     Both sexes    2.010308
                                Females       1.955133
                                Males         1.677406
          Edmonton      62      Both sexes    1.881632
                                Females       1.834967
                                Males         1.534666
          Greater Sudb  2580    Both sexes    1.873238
                                Females       1.752994
                                Males         1.620759
          Halifax       2096    Both sexes    1.572147
                                Females       1.588073
                                Males         1.523208
          Hamilton      2608    Both sexes    1.814798
                                Females       1.803234
                                Males         1.522039
          Kitchener-Ca  3044    Both sexes    1.602072
                                Females       1.640569
                                Males         1.241217
          London        2765    Both sexes    1.773756
                                Females       1.798304
                                Males         1.494379
          Montrï¿½al      3491    Both sexes    1.866180
                                Females       1.673469
                                Males         1.788355
          Oshawa        2542    Both sexes    1.614905
                                Females       1.764073
                                Males         1.250831
          Ottawa-Gatin  2799    Both sexes    2.042873
                                Females       1.859308
                                Males         1.969246
                                                ...
2015      Victoriavill  3307    Both sexes    1.183097
                                Females       1.092350
                                Males         1.207532
          Wetaskiwin    104     Both sexes    2.168580
                                Females       2.117626
                                Males         1.636435
          Whitehorse    5580    Both sexes    1.517971
                                Females       1.449633
                                Males         1.517921
          Williams Lak  668     Both sexes    2.495325
                                Females       2.175275
                                Males         1.746788
          Windsor       2240    Both sexes    2.032192
                                Females       1.823941
                                Males         2.153972
          Winnipeg      1305    Both sexes    1.883221
                                Females       1.737105
                                Males         1.836862
          Wood Buffalo  211     Both sexes    1.823087
                                Females       3.248723
                                Males         0.976870
          Woodstock     1625    Both sexes    1.471318
                                Females       1.311571
                                Males         1.347749
          Yellowknife   1731    Both sexes    1.805069
                                Females       1.994005
                                Males         1.535580
          Yorkton       5564    Both sexes    1.885857
                                Females       1.805979
                                Males         1.713179
Length: 4266, dtype: float64